table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// td,
// th {
//   width: 25%;
// }

// .actionContainer .participate,
// .actionContainer .declined {
//   width: 100px;
//   opacity: 1 !important;
// }
