<app-auth-navbar></app-auth-navbar>
<main>
  <div
    class="relative pb-32 flex content-center items-center justify-center min-h-screen-75"
    style="padding-top: 8rem"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('../../../../assets/img/diseases/lymphoma.jpg');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1
              class="text-white font-semibold text-5xl"
              style="font-size: 50px"
            >
            L'obésité
            </h1>
            <p class="mt-4 text-lg text-blueGray-200" style="color: #9d9797">
              L'obésité correspond à un excès de masse grasse et à une modification du tissu adipeux, entraînant des inconvénients pour la santé et pouvant réduire l'espérance de vie.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="pb-20 pt-7 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div class="fig-content__body clearfix">

<!-- 

       <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Qu'est ce que c'est ? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Voluptatum, consequatur.
            </p>
          </mat-expansion-panel>
        </mat-accordion> 

<br/>
 -->
        <h1 style="color: blue ;">Qu'est ce que c'est ?</h1>
        <p>
         <span style="color: red ;">L'obésité </span> est devenue une épidémie mondiale. Elle se définit par une accumulation anormale ou excessive de graisse corporelle qui peut nuire à la santé.

          D'après l’Organisation Mondiale de la Santé (OMS), l’obésité se définit comme une accumulation anormale ou excessive de graisse corporelle qui peut nuire à la santé.
          La masse grasse « normale » est habituellement plus faible chez l'homme (10 à 15 % du poids du corps) que chez la femme (20 à 25 % du poids).
          
          Pour caractériser l’obésité, on utilise l'indice de corpulence (IMC) qui se calcule en divisant le poids (en kg) par la taille(en m) au carré.
          
          La valeur normale est de 20 à 25 chez l'homme et de 19 à 24 chez la femme.
          
          On parle de :<br/>
          
          Surpoids pour un IMC entre 25 et 29,9<br/>
          Obésité pour un IMC entre 30 et 39,9<br/>
          Obésité morbide pour un IMC à partir 40<br/>
          Cet indice est plus performant dans l'appréciation de l'obésité que la simple mesure du poids. il permet en effet de moins pénaliser les personnes ayant une forte stature.
          
          Pour les enfants, ce calcul de l'IMC n'est pas pertinent. Il faut utiliser la courbe de corpulence du carnet de santé.
        </p>

        <p>
          La <strong>maladie de Hodgkin</strong> représente plus de 40 % des
          lymphomes malins. Son taux de survie globale a 5 ans est supérieur à
          75 %. La cause de cette maladie est inconnue, même si certains liens
          sont connus avec la présence de titres élevés d'anticorps contre le
          virus d'Epstein Barr (EBV).
        </p>
        <h1 style="color: blue ;">Comprendre l’obésité</h1>
        <p>
          Maladie de l’adaptation aux récentes évolutions des modes de vie, l’obésité résulte d’un déséquilibre entre les apports et les dépenses énergétiques. Ce déséquilibre aboutit à une accumulation des réserves stockées dans le tissu graisseux, entraînant elle-même de nombreuses complications.

          L’obésité concerne aujourd’hui la quasi-totalité de la planète, dont de nombreux pays émergents. Selon l’Organisation mondiale de la santé (OMS), 39% des adultes dans le monde sont en surpoids et 13% sont obèses. Le nombre de cas d’obésité a presque triplé depuis 1975. Les complications associées, en particulier le diabète de type 2 (44% des cas imputables au surpoids/obésité), les maladies cardiaques (23% des cas imputables) et les cancers (entre 7% et 41% des cas imputables au surpoids/obésité selon les localisations) entraînent le décès d’au moins 2,8 millions personnes chaque année. Ainsi, le surpoids et l’obésité sont reconnus comme la cinquième cause de mortalité par l’OMS.
          
          En Tunisie, en 2015, l’obésité́ concernait 17% des adultes et 4% des enfants : des chiffres à peu près stables depuis une dizaine d’années.
          
          L’obésité, une maladie aux multiples conséquences
          L’obésité entraîne des troubles de santé dont le diabète de type 2. Chez la personne obèse, l’insuline n’agit plus correctement et l’utilisation du glucose par les cellules est perturbée (on parle d’insulinorésistance), provoquant une augmentation de la concentration de glucose dans le sang et une hyperglycémie.
          
          L’obésité accroît aussi le risque d’hypertension artérielle, d’athérosclérose notamment en raison d’une inflammation des artères, mais aussi de dyslipidémie, de maladies du foie (stéatohépatite non-alcoolique), de maladie rénale chronique. Elle est aussi associée à de nombreux cancers, en particulier du sein, de l’utérus ou encore du foie. 
          
          Parmi les complications on compte également des maladies respiratoires : syndrome d’apnée du sommeil, hypoventilation, ainsi que des troubles hormonaux (perturbation des cycles menstruels chez la femme) ou encore des maladies articulaires, telles que l’arthrose, en raison de la surcharge sur les os et articulations qui s’en trouvent fragilisés. L’obésité est en outre associée à un risque accru de reflux gastroœsophagien, de problèmes dermatologiques de type mycoses ou psoriasis, d’insuffisances veineuses cutanées. 
          
          Il faut par ailleurs souligner le retentissement psychologique et social de la maladie dans une société très axée sur le culte de la minceur. 
          
          Une perte de poids même modeste est bénéfique sur le plan métabolique, cardiovasculaire, respiratoire et musculo-squelettique. Des médicaments sont par ailleurs souvent nécessaires au cas par cas pour réduire les symptômes de ces différentes comorbidités.

        </p>
        <h1 style="color: blue;"> Quelles sont les causes de l'obésité ?</h1>
        <ul>
          <li>
            La consommation excessive d'aliments caloriques est la principale cause de surpoids et d'obésité ;
          </li>
          <li>
            La prédisposition génétique ;
          </li>
          <li>
            Une pratique sportive insuffisante ou inexistante ;
          
          </li>
          <li>
            La sédentarité mesurée à partir du temps passé devant un écran (étude chez des enfants) ;
          </li>
          <li>
            Des facteurs environnementaux (situation économique et-ou sociale (revenu faible), familiale) ;
          </li>
          <li>
            Le marketing alimentaire, les publicités...
          </li>
        </ul>
       <h1 style="color: blue ;"> Quels sont les risques de l'obésité ?</h1>
        <p>
          L'obésité dégrade considérablement la qualité de vie d'un individu adulte et peut avoir de graves conséquences sur sa santé : </p>

Une augmentation des risques de maladies cardiovasculaires ;
Une réduction de l'espérance de vie ;
Un risque accru de souffrir de diabète, d'hypertension artérielle, du cancer du côlon​ ou encore du cancer du sein.

Chez l'enfant et l'adolescent, le surpoids et l'obésité ont également des conséquences néfastes :
<ul>
  <li> Un risque accru de souffrir de problèmes respiratoires ;</li>
  <li>  Un risque élevé de fractures ;</li>
  <li> Le développement d'une résistance à l'insuline, conduisant au diabète ;</li>
    <li> Une augmentation du risque d’arthrose : « Une personne obèse dès l’adolescence peut souffrir d’arthrose dès l’âge de 30 ans », Pr Francis Berenbaum, rhumatologue, 2018.</li>
</ul>
Chez l'adulte comme chez l'enfant, le surpoids et l'obésité peuvent également favoriser l'apparition d'une dépression.

Traiter le surpoids et l'obésité est donc primordial pour préserver la santé des personnes concernées.
        <h1 style="color:blue ;">Le traitement de l'obésité</h1>
        <p> 
          <span style="color: red ;">La perte de poids grâce à une alimentation saine</span>
Il s'agit du principal moyen de lutte contre le surpoids et l'obésité.

La perte de poids doit s'effectuer de manière raisonnée ; une alimentation équilibrée et une pratique sportive régulière permettent de maigrir de façon progressive sans mettre en danger physique et psychique la personne concernée.

Il est conseillé d'avoir un suivi thérapeutique adapté.

<span style="color: red;"> Le traitement de l'obésité par la chirurgie</span>
Le traitement de l'obésité par la chirurgie (ou chirurgie "bariatrique") s'adresse aux personnes adultes souffrant d'une obésité dite "massive" ou "morbide" (IMC supérieur ou égal à 40) ou "sévère" (IMC supérieur ou égal à 35), combinée à une maladie.

Ces personnes doivent justifier de plusieurs tentatives infructueuses de perte de poids et ne doivent pas présenter de contre-indications médicales et avoir un accompagnement psychologique.
</p>
On distingue deux types de chirurgies :
<ul>
  <li>
    <li> Les chirurgies restrictives qui réduisent la taille de l'estomac (anneau gastrique, gastrectomie en manchon, gastroplastie verticale calibrée) ;</li>
      <li> Les chirurgies restrictives et “malabsorbatives” qui réduisent la taille de l'estomac et diminuent l'assimilation des aliments par l'organisme ("bypass", dérivation bilio- pancréatique).</li>
        <li>La chirurgie de l'estomac n'est pas sans risques et le patient doit avoir un suivi post opératoire régulier. La chirurgie ne sera efficace que si la personne opérée adopte de bonnes habitudes alimentaires et modifie son hygiène de vie. Il est important d'effectuer un travail psychologique sur soi afin d'apprendre à vivre avec une nouvelle image.</li>
</ul>
Le traitement de l'obésité grâce aux médicaments
À ce jour, il n'existe pas de traitements médicamenteux miracles contre l'obésité.

Certains médicaments permettent cependant d'aider à la perte de poids et de limiter l'absorption des graisses alimentaires par l'organisme. Ils doivent faire l’objet d’une prescription médicale, dans le cadre d’indications très précises.

De plus, leur prise doit être combinée à une alimentation équilibrée.

Prévention de l'obésité : les bons réflexes à prendre
La prévention de l'obésité est l'une des priorités de santé publique. Un "Plan National Nutrition Santé" a été mis en place depuis quelques années afin de prévenir l'obésité.

Au quotidien, il est recommandé d'adopter certains gestes:
<ul> 
  <li>Pratiquer une activité sportive régulière : 30 minutes de sport par jour permettent de réduire les risques de maladies cardiovasculaires et de diabète. Une pratique sportive plus soutenue peut-être nécessaire en cas de surpoids avéré. Pour les enfants, le temps d’activité devrait être d’au moins 1 heure par jour ;</li>
    <li>Avoir une alimentation diversifiée et équilibrée ;</li>
      <li>Limiter sa consommation de graisses saturées ;</li>
        <li>Limiter sa consommation de sucres et de sel ; </li>
          <li>Consommer des fruits et des légumes quotidiennement ;</li>
            <li>Augmenter la consommation de calcium chez les enfants ;</li>
              <li>Suivre régulièrement l'évolution de la courbe de poids des enfants et des adolescents est un moyen de prévention contre l'obésité.</li>
« Essayez de limiter le temps passé devant des écrans. En particulier, il faut savoir que la télévision n’est pas adaptée aux enfants de moins de trois ans, qui se développent mieux dans l’interaction avec leur entourage. »
</ul>

        <!-- </p> -->


      </div>
    </div>
  </section>
</main>
<app-main-footer></app-main-footer>
