<app-auth-navbar></app-auth-navbar>
<main>
  <div
    class="relative pb-32 flex content-center items-center justify-center min-h-screen-75"
    style="padding-top: 8rem"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('../../../../assets/img/diseases/hypercalcemia.jpeg');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1
              class="text-white font-semibold text-5xl"
              style="font-size: 50px"
            >
              Hyperthension
            </h1>
            <p class="mt-4 text-lg text-blueGray-200" style="color: #9d9797">
              L'hypertension artérielle ou HTA se définit par une élévation trop importante de pression dans les artères, élévation qui persiste dans le temps. C'est la maladie chronique la plus fréquente dans le monde.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="pb-20 pt-7 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div class="fig-content__body clearfix">
    <!--   <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Qu'est ce que c'est ? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Voluptatum, consequatur.
            </p>
          </mat-expansion-panel>
        </mat-accordion> 


        <br/>

        
        <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Qu'est ce que c'est ? </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Voluptatum, consequatur.
          </p>
        </mat-expansion-panel>
      </mat-accordion>  -->

        <h1 style="color:blue ;">Qu'est ce que c'est ?</h1>
        <p>
         <span style="color: red ;">L'HYPERTENSION</span>
          Comme beaucoup de maladies chroniques, l'hypertension ne peut être guérie. Lorsqu'on est hypertendu, on doit apprendre à vivre avec sa maladie sur le long terme.
          L'objectif du traitement contre l'hypertension n'est donc pas de parvenir à la guérison. Il s'agit de stabiliser la maladie pour éviter qu'elle ne provoque des complications.
          Les traitements de l'hypertension ont pour but de ramener durablement les valeurs de la pression artérielle en dessous des seuils dangereux, afin de protéger les artères et diminuer les risques pour le cœur et les vaisseaux sanguins.
          Concrètement, il s'agit de faire baisser les chiffres de la tension artérielle en dessous des valeurs suivantes :
          •	Pression maximale (ou systolique) : 13.5 — soit 135 mmHg<br/>
          •	Pression minimale (ou diastolique) : 8.5 — soit 85 mmHg<br/>
          Le traitement de l'hypertension repose sur trois grands piliers :<br/>
          •	Le respect d'une hygiène de vie attentive<br/>
          •	Un suivi médical régulier<br/>
          •	Lorsque c'est nécessaire, un traitement médicamenteux peut être mis en place<br/>
          Contraignant au quotidien, le traitement de l'hypertension est nécessaire et efficace. Dans la très grande majorité des cas, lorsqu'il est bien suivi, il permet de maintenir la pression artérielle dans des valeurs normales.<br/>
          
        </p>
        <h1 style="color:blue ;">ÉQUILIBRE ALIMENTAIRE ET ACTIVITÉ PHYSIQUE : NOS ARMES CONTRE L'HYPERTENSION</h1>
        <p>
          L'hygiène de vie est le premier piler du traitement de l'hypertension artérielle. Bien souvent, adopter de bonnes habitudes physiques et alimentaires aide à réguler la pression artérielle. Faisons le point sur les bonnes habitudes à adopter en terme d'alimentation, d'activité physique, d'hygiène de vie et de suivi médical.<br/>
          Vous constaterez qu'une bonnes partie de ces recommandations rejoignent celles préconisées lorsqu'on est en surpoids, diabétique ou insuffisant cardiaque.<br/>
          C'est logique, puisqu'il s'agit de diminuer les risques cardiovasculaires provoqués par la maladie ! Mais ces règles s'appliquent aussi à toutes les personnes qui souhaitent rester durablement en bonne santé . <br/>
          •	Perdre du poids en cas de surcharge pondérale et Garder un indice de masse corporelle, ou IMC, inférieur à 25.<br/>
          •	Supprimer ou réduire sa consommation d’alcool : une consommation supérieure à 10 verres par semaine doit entraîner une prise en charge adaptée<br/>
          •	Arrêter de fumer. Le tabac accélère le vieillissement des artères, même s’il ne joue pas directement sur le niveau de tension des fumeurs. Il réduit le taux d'oxygénation du sang, abîme les parois des vaisseaux sanguins et augmente le risque de dépôts graisseux sur ces parois. Donc eviter le tabac cest essentielle pour réduire les risques de complications associés à l'hypertension<br/>
          •	Adopter une alimentation équilibrée :
          o	Miser sur les fruits et légumes (5 portions par jour). Les fruits et légumes contiennent du potassium qui permet diminuer la tension artérielle. Une alimentation équilibrée favorise une bonne tension artérielle.<br/>
          o	Veillez à avoir un apport suffisant en calcium, par exemple en mangeant des produits laitiers maigres tels que yaourts à base de lait écrémé ou fromage frais granulé.<br/>
          o	Consommez chaque jour des produits à base de céréales complètes.<br/>
          o	Privilégiez les acides gras insaturés contenus par exemple dans l’huile d’olive ou de colza par rapport aux acides gras saturés (graisses animales).<br/>
          o	Raisonnez votre consommation de viande : n'en mangez pas tous les jours, et mangez en revanche au moins une fois par semaine du poisson.<br/>
        
          •	Pratiquer une activité physique régulière et adaptée à vos possibilités. Par exemple, 30 minutes de marche rapide au moins trois fois par semaine.<br/>
          •	Diminuer sa consommation de sel : 6 à 8 g de sel par jour au maximum<br/>
          
        </p>
        <p> 
         <span style="color: blue;"> Sel & hypertension</span> 
Le sel est indispensable au bon fonctionnement de l'organisme. Cependant, consommé en excès, il devient un des facteurs de risque d’hypertension artérielle et de maladies du cœur et des vaisseaux sanguins. L'excès de sel favorise aussi d’autres maladies, dont le cancer de l’estomac.
L'Organisation Mondiale de la Santé (OMS) recommande une consommation quotidienne limitée à 5 g par jour et par personne. Cela représente un peu moins d'une cuillère à café. Selon les principales estimations, nous en consommerions plutôt 9 à 12 g en moyenne, soit 2 fois l'apport maximum recommandé !
L'Agence Nationale de Sécurité Sanitaire (Anses) est un peu plus souple. Elle  autorise un consommation de 8 g par jour pour les hommes, et 6,5 g par jour pour les femmes.
L'Anses note que les aliments qui apportent le plus de sel au quotidien sont :
•	le pain et les biscottes<br/>
•	la charcuterie (en particulier le saucisson et le jambon secs)<br/>
•	les bouillons (légumes ou viandes)<br/>
•	les produits de grignotage salés (par exemple, les chips ou les cacahuètes),<br/>
•	les nouilles instantanées<br/>
•	les sauces et condiments<br/>
•	la morue et les anchois<br/>
•	les plats cuisinés<br/>
•	les fromages<br/>
•	les soupes et potages<br/>
•	les quiches et pizzas<br/>
À La Réunion, attention au rougail saucisses, au boucané et autres rougails morue !

        </p>
        <p>
          La parathormone (PTH) aide à contrôler le taux de calcium dans le
          sang. Quand le taux de calcium sanguin est bas, les glandes
          parathyroïdes libèrent la PTH. La PTH incite les cellules osseuses à
          dégrader les os et à libérer du calcium dans le sang. Elle indique
          aussi aux reins et à l’intestin d’absorber plus de calcium.
        </p>
        <p>
          Les reins aident à contrôler la quantité de calcium présente dans le
          corps. Ils peuvent retirer une grande quantité de calcium dans le sang
          et l’évacuer par l’urine.
        </p>
        <h1 style="color:blue ;">LE SUIVI MÉDICAL DE L'HYPERTENSION ARTÉRIELLE</h1>
        <p>
          L'hypertension artérielle demande un suivi médical rigoureux sur le long terme. Chaque année, un certain nombre de rendez-vous et d'examens sont nécessaires pour surveiller l'évolution de la maladie, et adapter le traitement.
          Les consultations d'adaptation du traitement : au début
          Durant cette période, vous serez amené à voir votre médecin tous les mois pour :
          •	Contrôler la tension<br/>
          •	Vérifier que le traitement est bien toléré. Évaluer l'efficacité du traitement <br/>
          •	Faire le point sur votre adhésion aux règles d'hygiène de vie et d'équilibre alimentaire<br/>
          Les consultations de suivi : à long terme
          Une fois votre traitement bien mis en place, le suivi reste nécessaire mais les rendez-vous médicaux sont plus espacés.<br/>
          •	Une visite de contrôle chez votre médecin traitant est recommandée tous les 3 à 6 mois.<br/>
          •	En fonction de vos maladie associées et de votre traitement, il se peut qu'un bilan biologique (prise de sang) soit demandé régulièrement. Si non, il est demandé généralement tous les 1 à 2 ans.<br/>
          •	Un électrocardiogramme de contrôle est demandé tous les 3 à 5 ans.<br/>
          HYPERTENSION : LE RÔLE DE L'AUTOMESURE TENSIONNELLE
          L'automesure tensionnelle (ATM) consiste à mesurer soi-même sa tension le matin au lever et le soir au coucher sur 3 jours consécutifs pour pouvoir remplir le tableau suivant :
          
          Rq :Quand on lit "12/7" de tension, le premier chiffre correspond à la pression artérielle systolique (quand le cœur se contracte), le second à la pression diastolique (quand il se relâche)
          
        </p>
        <!-- <ul>
          <li>myélome multiple;</li>
          <li>cancer du sein;</li>
          <li>cancer de la parathyroïde;</li>
          <li>cancer du poumon;</li>
          <li>cancer du rein;</li>
          <li>lymphome non hodgkinien;</li>
          <li>leucémie;</li>
          <li>
            métastases osseuses (cancer qui s'est propagé aux os à partir
            d'autres endroits du corps).
          </li>
        </ul>
        <p>
          Certains types d'immunothérapie et d'hormonothérapie auxquels on a
          recours pour traiter certains cancers peuvent aussi causer
          l’hypercalcémie. Des médicaments administrés pour traiter d’autres
          problèmes de santé peuvent également engendrer l’hypercalcémie.
        </p> -->
        <h1 style="color: blue;">Traitement de hypertention</h1>
        <p>
          Lutter contre le stress
          Le stress contribue à l'augmentation de la tension artérielle. Faire du sport, de la gymnastique douce (yoga, Taï Chi, Qi Ging…) ou des exercices de relaxation et bien dormir sont des conseils précieux qui peuvent aider à faire baisser la tension artérielle. "De plus faire une sieste de 20 à 30 minutes par jour, sans forcément s'endormir, permet de diminuer le stress, la sécrétion de cortisol, et fait baisser la pression artérielle",
          Supprimer la réglisse
          Cette plante contient de la glycérrhizine, une substance qui favorise la rétention de sodium et d'eau, ce qui fait monter la pression artérielle et favorise l'hypertension. Les alcools anisés, les bonbons à base de réglisse ainsi que les tisanes contenant cette plante vous sont donc désormais interdits.
          Surveiller son taux de cholestérol
          Un taux de cholestérol augmenté représente, avec le tabac, un autre facteur de risque des maladies cardiovasculaires. Modifier son alimentation et prendre un traitement médicamenteux au besoin, selon la situation clinique et l'avis médical, peuvent être indispensables.
          Bien dormir
          Environ 25 à 30 % des hypertendus souffrent de ce mauvais sommeil. Revoyez votre hygiène du sommeil : couchez vous régulièrement à la même heure, évitez les repas trop copieux et l'alcool avant de dormir, établissez des rituels de nuit qui conditionneront votre cerveau (lecteur de quelques pages…) et au besoin tournez-vous vers des tisanes de plantes apaisantes comme le tilleul ou la valériane.
          Comment faire baisser sa tension naturellement
          Jusqu'à présent, aucune plante n'est assez puissante pour faire baisser les hypertensions pathologiques. Néanmoins, en réduisant le stress et en renforçant le cœur, elles peuvent apporter un coup de pouce. C'est le cas de l'ail noir aux propriétés anti-hypertensives, anti-inflammatoires et fluidifiant sanguin, de l'aubépine qui favorise le confort cardiaque et de l'olivier qui possède une action anti-hypertensive
          
        </p>
      </div>
    </div>
  </section>
</main>
<app-main-footer></app-main-footer>
