nav#sidenav-main {
  background: linear-gradient(45deg, #fcfcfc82, #5349491a),
    url(../../../assets/img/sidebarImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
