<!-- <h1 mat-dialog-title>Hi {{ data.name }}</h1> -->
<div class="modalContainer">
  <h1 mat-dialog-title>Demander Sang</h1>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <div class="form-group">
        <mat-form-field appearance="standard">
          <h4 class="font-weight-bold mb-0">groupe_sanguin?</h4>
          <select  formControlName="groupe_sanguin"  class="form-control">
                    
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>

          </select>
        </mat-form-field>
      </div>
    
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="btn btn-secondary" mat-dialog-close>
      Anuuler
    </button>
    <button mat-button class="btn btn-primary"  (click)="confirmer()" cdkFocusInitial>
      <!-- [mat-dialog-close]="''" -->
      Confirmer
    </button>
  </div>
</div>
